<div class="d-flex flex-row bd-highlight mb-9">
    <div class="p-2 w-100 bd-highlight">
  
      <div class="input-group mb-12">
        <span class="input-group-text">Name</span>
        <input type="text" class="form-control" [(ngModel)]="Name">
        <span class="input-group-text">Price</span>
        <input type="number" class="form-control" [(ngModel)]="Price">
        <span class="input-group-text">Description</span>
        <input type="text" class="form-control" [(ngModel)]="Description">
      </div>
    </div>
  </div>
  <button (click)="addProduct()" *ngIf="product.Id == ''" class="btn btn-primary">
    Add
  </button>
  
  <button (click)="updateProduct()" *ngIf="product.Id !=''" class="btn btn-primary">
    Update
  </button>

